@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.primary-button {
  background-color: #F26813;
  color: white;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 100px;
}

.secondary-button {
  border: 1px solid white;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 100px;
}

.poster {
  filter: grayscale(100%);
  transition: filter 0.3s ease;

}

.poster:hover {
  filter: grayscale(0%);
}

